@model IEnumerable<Agenda_AspNet.Models.Categoria>

@{
    ViewData["Title"] = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Lista de Categorias</h1>

<p>
    <a href="#" id="criar_categoria" class="btn btn-outline-info"><i class="fas fa-plus-circle"></i> Nova</a>
</p>
<table class="table table-striped table-dark col-6">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th class="text-center col-4">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td class="text-center">
                    <a data-id="@item.id" class="btn btn-sm btn-info j_editar_categoria" title="Editar Cadastro"><i class="fas fa-exclamation-circle"></i></a> |
                    <a data-id="@item.id" class="btn btn-sm btn-danger j_delete_categoria" title="Deletar Cadastro"><i class="fas fa-minus-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal_categoria"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            function btnSalvar() {
                var desc_cat = $("#descricao")
                var btn = $("#salvar_categoria")

                if (desc_cat.val() == "") {
                    btn.prop("disabled", true)
                } else {
                    btn.prop("disabled", false)
                }

                /*desc_cat.validate({
                    rules {
                        required: true,
                        minlenght: 5,
                        maxlenght: 50,
                        messages: {
                            required: "Preencha uma descrição",
                            minleght: "A descrição deve ter no mínimo 5 caracteres",
                            maxleght: "A descrição deve ter no máximo 50 caracteres"
                        }
                    }
                })*/

                desc_cat.on("change", function () {
                    if ($(this).val() != "") {
                    //if ($(this).valid()) {
                        btn.prop("disabled", false)
                    }
                })
            }

            function ajaxCategoria(url) {
                $.ajax({
                    type: "GET",
                    url: url,
                    success: (function (data) {
                        $("#modal_categoria").html(data)
                        btnSalvar()
                        $("#_categoria_modal").modal()
                    })
                })
            }

            $("#criar_categoria").on("click", function (e) {
                e.preventDefault()
                var url = '@Url.Action("Create", "Categoria")'
                ajaxCategoria(url)
            })

            $(".j_editar_categoria").on("click", function (e) {
                e.preventDefault()
                var id = $(this).data("id")
                var url = '@Url.Action("Edit", "Categoria")' + "/" + id
                ajaxCategoria(url)
            })

            $(".j_delete_categoria").on("click", function (e) {
                e.preventDefault()
                var id = $(this).data("id")
                var url = '@Url.Action("Delete", "Categoria")' + "/" + id
                ajaxCategoria(url)
            })
        })
</script>
}
