@model IEnumerable<Agenda_AspNet.Models.Endereco>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Endereços</h1>

<p>
    <a asp-action="Create">Novo Endereço</a>
</p>
<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uf)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uf)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-success" title="Detalhes do Cadastro">Ver</a> |
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-info" title="Editar Cadastro">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger" title="Deletar Cadastro">Del</a>
            </td>
        </tr>
}
    </tbody>
</table>

